body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.input-group{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

#input-id{
    margin: 5px;
}

#go-id{
    margin: 5px;
    padding: 5px;
}

#end-id{
    display: none;
}

#square-id{
    width: 30vw;
    height: 30vw;
    border: 1px solid black;
    /* background-color: green; */
    margin: 5px;;
}

