body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-input{
  margin: 5px;
}

.button-group{
  margin-top: 10px;
  text-align: center;
}

H1{
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

table, th, td {
  border:1px solid black;
  font-size: 1 em;
  text-align: center;
}

#form-place{
  margin-bottom: 20px;
}

#table-place{
    margin-top: 4vh;
    max-height: 50vh;
    overflow-y: auto;
    margin-top: 1vh;

} 

.input-element{
  margin-bottom: 5px;
}
.input-label{
  text-align: center;
  padding-top: 1vh;
}


@media(min-width:650px){
  
#form-place-form{
  padding-right: 4vh;
}

#table-place{
  min-width: 70vw;
  max-width: 70vw;
} 

table {
  width: 100%;
}

}