@font-face {
    font-family: airstream;
    src: url(../fonts/Airstream-webfont.svg);
    src: url(../fonts/Airstream-webfont.woff);
}

:root{
    --thumbnails-img-width: 20vw;
    --thumbnails-img-heigth: calc(var(--thumbnails-img-width) * 0.88);
    --thumbnails-title-heigth: calc(var(--thumbnails-img-heigth) * 0.3);
}

body{
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 0;
}

header{
    text-align: center;
    background-color: darkgrey;
}

footer{
    position: fixed;
    bottom: 1vh;
    padding-left: 4vw;
}

main{
    display: flex;
    flex-direction: column;
}

.logo{
    font-family: airstream;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.7em;
}
.details-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    
}

.details-container{

position: relative;
transition: 1s;
}

.details-title{
    background-color: beige;
    font-style: italic;
    font-size: 1rem;
    position: absolute;
    left: 17vw;
    bottom: 2vh;
    font-family: airstream;
}

.details-image{
    width: 95vw;
    height: 85vw;
    border-radius: 20%;
    border-style: groove;
    border-color: bisque;
}

.thumbnails_galery{
    margin-top: 4vh;
}

.thumbnails_container{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 25vh;
    overflow-y: auto;
    margin-top: 0;
}

.thumbnails_item{ 
    overflow: hidden;
    margin: 3px;
    border: solid 1px bisque;
    border-radius: 25%;
    max-width: var(--thumbnails-img-width);
    min-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-heigth) + var(--thumbnails-title-heigth));
}

.thumbnails_container :hover {
    transition: 1s;
    transform: scale(1.1);
}

.thumbnails_image{
    display: block;
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-heigth);
}

.thumbnails_title{
    height: var(--thumbnails-title-heigth);
    display: block;
    text-align: center;
    background-color: bisque;
    font-size: 0.8em;
}

.thumbnails_ancor{
    text-decoration: none;
}

.link_back{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.hidden .details-section{
    display: none;
}

.hidden .thumbnails_container{
    max-width: 100vw;
    max-height: 75vh;
    padding: 0;
    margin: 0;
}

.hideButton{
    font-size: 1em;
    position: absolute;
    top: 0vh;
    right: 2vw;
    border-radius: 40%;
}

.point{
    transform: scale(0.001);
    transition: 0s;
}

@media (min-width: 650px){
    :root{
     --thumbnails-img-width: 9vw;
     --thumbnails-img-heigth: calc(var(--thumbnails-img-width) * 0.88);
     --thumbnails-title-heigth: calc(var(--thumbnails-img-heigth) * 0.3);
    }   

    header{
      margin: 0;
    }

    .logo{
        margin: 2vh;
    }

    main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
    }

    .details-image{
        width: 46vw;
        height: 36vw;
        border-radius: 20%;
    }

    .details-section{
        width: 65vw;
    }
     

    .details-container{
        justify-content: center;

    }

    .datails_title {
        bottom: 6vw;
        left: 120vh;
    }

    .thumbnails_container{
        max-width: 35vw;;
        max-height: 77vh;
        margin-left: 5vw;
        margin-bottom: 0;
    }

    .thumbnails_title{
        font-size: 0.8em;
    }

    .link_back {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-left: 3vh;
    }
}

@media (min-width: 1000px){

    .details-image{
        width: 50vw;
        height: 76vh;
        border-radius: 20%;
    }

    .details-title{
        font-size: 1.8em;
    }

    .thumbnails_container{
        padding-left: 0;
        padding-right: 0;
    }

    .thumbnails_title{
        font-size: 1.4em;
    }

    .html{
        font-size: 1.5em;
    }

    .link_back {
        padding-top: 3vh;
    }

}
